@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
$heading-font: 'Prata', serif;
$heading-color: white;
$li-heading-font: 'Inter', sans-serif;
$text-color: #ccc;
