@import './variables';
@import './resets';

body {
  background-color: black;
  color: $heading-color;
  margin: 0;
  font-family: $heading-font;
  line-height: 1.5;
  display: block;
  h1 {
    font-weight: 500;
    line-height: 1.2;
  }
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 40px;

  #{&}-heading {
    color: white;
    font-family: $heading-font;
    font-size: 20px;
  }

  li {
    display: inline;
    align-self: center;
    padding-left: 11px;
    font-size: 20px;
    font-family: $li-heading-font;
    color: rgba(197, 31, 31, 0.123);
  }

  ul {
    align-self: center;
    margin: 0;
    padding: 0;
  }

  #{&}-button {
    @include getInTouch;
  }
}

a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

a:visited {
  color: rgba(255, 255, 255, 0.5);
}

.slang {
  display: flex;
  margin-bottom: 50px;
  max-width: 640px;
  #{&}-content {
    font-size: 25px;

    h1 {
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
      color: $text-color;
    }
  }
}

.companies-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.images-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  #{&}_1 {
    max-width: 520px;
    h1 {
      margin: 35px 0 25px;
    }

    p {
      font-weight: 300px;
      font-size: 25px;
      color: $text-color;
      line-height: 2rem;
    }
  }

  #{&}_2 {
    max-width: 520px;

    h1 {
      margin: 35px 0 25px;
    }

    p {
      font-weight: 300px;
      font-size: 25px;
      color: $text-color;
      line-height: 2rem;
    }
  }
}

.banner {
  background-color: #2e3038;
  padding: 48px 0;
  margin-bottom: 35px;
}

.bgc-section {
  display: flex;
  justify-content: space-between;

  #{&}_1 {
    max-width: 500px;

    h1 {
      margin-bottom: 16px;
    }

    p {
      @include paragraph;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}

.bgc-section_2 {
  @extend .bgc-section_1;
}

.footer-interest {
  max-width: 500px;

  h1 {
    margin: 15px 0;
  }

  p {
    margin: 15px 0;
    @include paragraph;
  }
  a {
    @include getInTouch;
    padding: 19px 17px;
    margin-bottom: 48px;
  }
}


.banner_2 {
    @extend .banner;
    margin-bottom: 0;
    padding: 30px 0;
}


.footer {
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 25px;
    }

    img {
        padding-left: 10px;
    }
}
